/*Button colour*/
.st-key-blue button {
   background-color:#1078e1;
   font-family: 'Inter', sans-serif;
   color:#ffffff;
   border: none;
}


/*Button hover colour*/
.st-key-blue button:hover {
   background-color:rgb(0, 83, 166);
   font-family: 'Inter', sans-serif;
   color:#ffffff;
   border: none;
}


/*Override focus states to prevent default button border*/
.st-key-blue button:focus {
background-color:#1078e1;
font-family: 'Inter', sans-serif;
border: none;
}


/*Apply same text colour during button focus states*/
.st-key-blue button:focus p {
   font-family: 'Inter', sans-serif;
   color:#ffffff;
}


/* Markdown with white background */
.blue-markdown {
   font-family: 'Inter', sans-serif;
   color: #1e90ff;
   background-color: #ffffff;
   border: 5px solid #ffffff;
   border-radius: 12px;
}


/* Markdown with blue background */
.white-markdown {
   font-family: 'Inter', sans-serif;
   color: #ffffff;
   background-color: #1078e1;
   border: 10px solid #1078e1;
   border-radius: 30px;
   margin-bottom: 20px;
}


/* 75px text */
.big-text {
   font-size: 75px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   line-height: 52.8px;
   margin-bottom: 5px;
   color: #000000;
}


/* 75px text for temperature display on mobile */
.temp-text {
   font-size: 75px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   line-height: 52.8px;
   margin-top: -60px;
   margin-bottom: 25px;
   color: #000000;
}


/* Header text */
.header-text {
   font-size: 48px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   line-height: 52.8px;
   letter-spacing: -2px;
   text-align: center;
   margin-bottom: 15px;
   width: 100%;
   color: #000000;
}


/* Blue header text */
.blue-header-text {
   font-size: 48px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   line-height: 52.8px;
   letter-spacing: -2px;
   text-align: center;
   margin-bottom: 15px;
   width: 100%;
   color: #1078e1;
}


/* City name text on mobile*/
.city-text {
   font-size: 48px;
   font-style: normal;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   line-height: 52.8px;
   letter-spacing: -2px;
   text-align: center;
   margin-bottom: -75px;
   width: 100%;
   color: #000000;
}


/* Normal text */
.normal-text {
   font-size: 16px;
   font-family: 'Inter', sans-serif;
   font-style: normal;
   letter-spacing: -0.32px;
   color: #6b7280;
}

/* Blue container */
.blue-container {
    background-color: #1e90ff;
    padding: 16px;
    border-radius: 16px;
    border: 2px solid #1e90ff;
}
